       .naDiaryMoodAnger .naDiaryEntryHeader {
            background : rgba(255,255,255,0.4);
            color : black;
        }
        .naDiaryMoodAnger {
            background : rgba(255,0,0,0.3);
        }


        .naDiaryMoodDivinicus .naDiaryEntryHeader {
            background : rgba(150,150,150,0.5);
            color : black;
        }
        .naDiaryMoodDivinicus {
            background : rgba(255,0,255,0.5);
        }


        .naDiaryMoodDivineWorld .naDiaryEntryHeader {
            background : rgba(150,150,150,0.8);
            color : ivory;
        }
        .naDiaryMoodDivineWorld {
            background : rgba(0, 255, 0,0.35);
        }
